@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
}


.header {
  width: 100%;
  background: #2f76e8;
  font-family: Arial, Helvetica, sans-serif;
}

.header::after {
  content: "";
  display: table;
  clear: both;
}

.namet {
  float: left;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  padding: 10px 0;
  margin-left: 20px;
}

.header .menu {
  margin-right: 20px;
}

nav {
  float: right;
  display: table-cell;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 100px;
  padding-top: 20px;
  position: relative;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15 px;
}

nav a:hover {
  color: #ca0606;
}

nav a:before {
  content: "";
  display: block;
  height: 5px;
  background-color: #ca0606;
  width: 0%;
  position: absolute;
  top: 15px;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.information {
  width: 80%;
  margin: 50px auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.information img,
.information h1 {
  animation: fadeIn 1.5s ease-in-out;
  animation-fill-mode: forwards;
  align-items: center;
}

.information img {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
  opacity: 0;
}

.information h1 {
  margin: 20px 0;
  opacity: 0;
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-style: italic;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.information img:hover {
  border: 4px solid #ca0606;
}

.information h3,
.information ul {
  animation: fadeIn 1.5s ease-in-out;
  animation-fill-mode: forwards;
}

.information h3 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  text-align: left;
  margin: 10px 0;
  margin-bottom: 30px;
}

.information ul {
  list-style-type: square;
  padding: 0;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 0px;
}

.information li {
  font-family: "Playfair Display", serif;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #2f76e8;
}

.social-links {
  display: flex;
  justify-content: center;
}

.fa {
  transform: scale(1.8);
  padding: 7px;
  width: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  background: #2f76e8;
  color: white;
  margin-top: 20px;
  margin-bottom: 60px;
  animation: fadeIn 1.5s ease-in-out;
  animation-fill-mode: forwards;
  
  

}

.social-links a:hover {
  background: #ca0606;
}

.social-links .fa-instagram {
  margin-right: 100px;
}

.social-links .fa-envelope{
  margin-left: 100px;
}
form {
  width: 50%;
  margin: 0 auto;
}
label,
input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
button {
  background-color: #333;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border: 0;
}
button:hover {
  background-color: #444;
}
